<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="com.ecom.amazon.Utilties.Listeners"/>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ecom.amazon.TestSteps.SignInScreenTestSteps"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
